<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!-- role-based navigation -->
<div th:fragment="navbar">

    <nav class="navbar navbar-expand-lg" style="background-color:#198754;">

        <div class="container">

            <a class="navbar-brand text-white" th:href="@{/dashboard}">
                Bank App
            </a>

            <div class="d-flex gap-2">

                <!-- customer links -->
                <a class="btn btn-outline-light"
                   th:if="${session.loggedInUser.role == 'CUSTOMER'}"
                   th:href="@{/dashboard}">
                    Dashboard
                </a>


                <!-- admin links -->
                <a class="btn btn-outline-light"
                   th:if="${session.loggedInUser.role == 'ADMIN'}"
                   th:href="@{/admin}">
                    Admin
                </a>

                <a class="btn btn-outline-light"
                   th:if="${session.loggedInUser.role == 'ADMIN'}"
                   th:href="@{/admin/users}">
                    Users
                </a>

                <a class="btn btn-outline-light"
                   th:if="${session.loggedInUser.role == 'ADMIN'}"
                   th:href="@{/transactions/admin/all}">
                    Transactions
                </a>

                <!-- logout -->
                <a class="btn btn-danger"
                   th:if="${session.loggedInUser != null}"
                   th:href="@{/logout}">
                    Logout
                </a>

            </div>

        </div>

    </nav>

</div>
</body>
</html>