<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>all transactions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- navbar -->
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container mt-5">

    <h3 class="text-danger">All transactions</h3>

    <!-- transactions table -->
    <table class="table table-bordered mt-3">

        <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
            <th>Account ID</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="t : ${transactions}">
            <td th:text="${t.type}"></td>
            <td th:text="${t.amount}"></td>
            <td th:text="${t.accountId}"></td>
            <td th:text="${t.date}"></td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>