<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="container mt-5">

    <div class="card auth-card p-4">

        <h3 class="text-center text-success">Login</h3>

        <!-- login form -->
        <form method="post" action="/login">

            <input name="username" class="form-control mb-3" placeholder="Username" required>

            <input name="password" type="password" class="form-control mb-3" placeholder="Password" required>

            <button class="btn btn-success w-100">Login</button>

            <!-- register link -->
            <a href="/user/register" class="text-center mt-3 d-block">New User? Register Here</a>

        </form>

    </div>

</div>

</body>
</html>